$background-primary: #fcfcfc;
$background-secondary: #f4f2ec;
$background-tertiary: #001828;
$text-primary: #001828;
$text-secondary: #5ac6ec;
$text-tertiary: #f4f2ec;

// Button colors
$btn-main: #273049;
